In [1]:
#factors of given number
x=12
i=1
while i<=x:
    if x%i==0:
        print(i)
    i+=1

1
2
3
4
6
12

In [ ]:
#global variable
x=10
def myfunction():
    print(x)
myfunction()
print(x)

In [2]:
for i in range(5):
    if i==3:
        break
    print(i)

0
1
2

In [3]:
for i in range(5):
    if i==3:
        continue
    print(i)

0
1
2
4

In [4]:
#factorial of given number
fact=5
i=1
while fact>0:
    i=fact*i
    fact-=1
print(i)

120

In [1]:
#fibonacci series

n=10
n1=0
n2=1
print(n1)
print(n2)
for i in range(2,n):
    n3=n1+n2
    print(n3)
    n1=n2
    n2=n3

0
1
1
2
3
5
8
13
21
34

In [1]:
# 1. Print the first 10 natural numbers
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [15]:
# 2. Sum of all numbers from 1 to 100
total=0
for i in range(1,101):
    total=total+i
print(total)

5050

In [37]:
# 3. Print multiplication table of a number
n=5
for i in range(1,11):
    print(n ,"x", i , "=",n*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [9]:
# 4. Print all even numbers between 1 and 50
total=0
for i in range(1,5):
    if(i%2==0):
        total=i+total
print(total)

6

In [180]:
# # 5. Factorial of a number
fact=5
i=1
while fact>0:
    i=fact*i
    fact-=1
print(i)

120

In [15]:
# 6. Reverse a string
s = "Python"
reverse=""
for char in s:
    reverse = char + reverse
print(reverse)

nohtyP

In [2]:
# 7. Check if a number is prime
n=11
isprime=True
for i in range(2,n):
    if n%i==0:
        isprime=False
        break
if (isprime==True):
    print("prime")
else:
    print("not")

prime

In [13]:
# 9. Fibonacci series up to n terms
n=10
n1=0
n2=1
print(n1)
print(n2)
for i in range(2,n):
    n3=n1+n2
    print(n3)
    n1=n2
    n2=n3
  #  print(n3)

0
1
1
2
3
5
8
13
21
34

In [17]:
# 10. Sum of squares of numbers from 1 to 5
n=6
sum=0
for i in range(1,n):
    sum=sum+i**2
    
print(sum)

55

In [18]:
# 11. Print numbers divisible by both 3 and 5 between 1 to 100
for i in range(1,101):
    if i%3==0 and i%5==0:
        print(i)

15
30
45
60
75
90

In [10]:
# 13. Count vowels in a string
char=input("enter a string")
total=0
for i in char:
    if i in "aeiouAEIOU":
        total+=1
print(total)

enter a string 2

0

In [45]:
# 14. Print numbers in reverse order
n=10
for i in range(n,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [53]:
ord('A')

65

In [20]:
#nested loop 

for i in range(1,5,1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *

In [22]:
for i in range(6,1,-1):
    for j in range(1,i):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [28]:
for i in range(6,1,-1):
    for j in range(1,i):
        print(j,end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [32]:
row=4
for i in range(1,row+1):
    for j in range(4,i,-1):
        print(" ",end="")
    for k in range(1,i+1):
        print("*",end="")
    print()

   *
  **
 ***
****

In [ ]:
*****
 ****
  ***

In [50]:
row=5
for i in range(i,row):
    for j in range(4,i,-1):
        print(" ",end="")
    for k in range(1,i+1):
        print("*",end="")
    print()

****

In [ ]:
10 11 13 14 15
   17 18 19 20
      1

In [49]:
for i in range(10,15):
    for j in range(1,i+1):
        print(" ",end="")
    for k in range(15,i,-1

   1
  12
 123
1234

In [51]:
row=4
for i in range(1,row+1):
    for j in range(4,i,-1):
        print(" ",end="")
    for k in range(0,2*i-1):
        print("*",end="")
    print()

   *
  ***
 *****
*******

In [72]:
row=3
for i in range(3,row-1):
    for j in range(4,i,-1):
        print(" ",end="")
    for k in range(0,2*i-1):
        print("*",end="")
    print()

In [81]:
row=4
for i in range(1,row+1):
    for j in range(4,i,-1):
        print(" ",end="")
    for k in range(1,i+1):
        print("*",end="")
    print()

   *
  **
 ***
****

In [162]:
for i in range(5,1,-1):
    for j in range(1,i):
        print("*",end=" ")
    print()
for i in range(2,5,1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

* * * *
* * *
* *
*
* *
* * *
* * * *

In [158]:
for i in range(1,6,1):
    for j in range(1,i+1):
        if i==4 or j==1 or i==j:
            print("*",end=" ")
    print()

*
* *
* *
* * * *
* *

In [168]:
for i in range(1,5):
    for j in range(1,5):
        if(i+j>=5):
            print("*",end=" ")
        else:
            print(" ",end = " ")
    print()

      *
    * *
  * * *
* * * *