In [1]:
x=10
print(id(x))

2406332105232

In [4]:
y=x
print(id(y))

2406332105232

In [6]:
x=10
print(x,id(x))
y=x
print("y:",y,id(y))

10 2406332105232
y: 10 2406332105232

In [7]:
y=15
print(id(y),id(x))

2406332105392 2406332105232

In [9]:
x=10
x==20

False

In [24]:

"""
jhjbm
bhj
"""
print("hello world")
print(5)
print("bye")
print(17*13)
print("hello \"hey\" klgfng")

hello world
5
bye
221
hello "hey" klgfng

In [25]:
print("hello","shailendra","agarwal",sep="-")

hello-shailendra-agarwal

In [12]:
a1=complex(8+2)
a1
herry=10
a="herry"
a
type(a1)
a1

(10+0j)

In [20]:
a=4
b=3
a1=a+b
b1=a-b
c1=a*b
d1=a/b
e1=a//b
f1=a**b
g1=a%b
print(a1)
print(b1)
print(c1)
print(d1)
print(e1)
print(f1)
print(g1)

7
1
12
1.3333333333333333
1
64
1

In [1]:
#explicit  type conversion 
a="1"
b="2"
c=int(a)+int(b)
c

3

In [4]:
 #implicit type conversion

a=1.8
b=9
c=a+b
c

10.8

In [8]:
a=int(input("enter first no:"))
b=int(input("enter second no:"))
c=a+b
c

enter first no: 10
enter second no: 20

30

In [16]:
a="shailendra"
b="agarwal"
print("hello "+ a,b)
print(a[5])

hello shailendra agarwal
e

In [38]:
apple="harry" 
# is shailendra agarwal
# i live in jaipur 
# i have completed bca'''
print(apple[-4:-2])

ar

In [83]:
a="lllllllapple"

print(a.count("p"))
print(a.endswith("e"))
print(a.find("l"))

2
True
0

In [100]:
x=int(input("enter a no:"))
if(x%2==0):
      print("even")
else:
      print("odd")

enter a no: 43

odd

num=int(input("enter a no:"))
if(num>10):
    print("bda")
elif(num<10):
    print("chota")
else:
    print("barabar")

In [4]:
num=int(input("enter a no:"))
if(num>10):
    print("bda")
elif(num<10):
    print("chota")
else:
    print("barabar")
print("happy")

enter a no: 11

bda
happy

In [4]:
time= int(input("enter time"))
if(time>12):
    print("good morning")
elif(time==12):
    print("goof afternoon")
else:
    print("good evening")

enter time 01

good evening

In [15]:
import time 
timestamp = time.strftime('%H:%M')
print(timestamp)

if(timestamp<12:00):
    print("good morning")
elif(timestamp>''):
    print("good afternoon")
else:
    print("good evening")

21:15
good afternoon

In [13]:
import time 
timestamp = time.strftime('%H:%M')
print(timestamp)
if timestamp < '12:00':
    print("Good morning")
elif timestamp < '18:00':
    print("Good afternoon")
else:
    print("Good evening")

21:14
Good evening

In [4]:
x=int(input("enter the value of x:"))
match x:
        case 0:
            print("x is zero")
        case 1:
            print("x is 4")
        case _ :
            print(x)

enter the value of x: 0

x is zero

In [9]:
name ="shailendra"
for i in name:
    print(i,end="")

shailendra

In [10]:
colors=["red","green","blue"]
for color in colors:
    print(color)

red
green
blue

In [14]:
for k in range(1,7):
    print(k+4)

5
6
7
8
9
10

In [22]:
for k in range(2,21,2):
    print(k)

2
4
6
8
10
12
14
16
18
20

In [9]:
n=121
sum=0
temp=n
while(n>0):
    rem=n%10
    sum=sum*10+rem
    n=n//10
if(temp==sum):
    print("pallindrom")
else:
    print("not")

pallindrom

In [11]:
n=151
sum=0
temp=n
while(n>0):
    rem=n%10
    sum=sum+rem*rem*rem
    n=n//10
if(temp==sum):
    print("armstrong")
else:
    print("not")

not

In [14]:
n1=0
n2=1
n=11
print(n1)
print(n2)
for i in range(2,n):
    n3=n1+n2
    print(n3)
    n1=n2

    n2=n3

0
1
1
2
3
5
8
13
21
34
55

In [9]:
count=int(input("enter a no:"))
while(count>10):
    print(count)
    count=count-1
else:
    print("hello")

enter a no: 12

12
11
hello

In [32]:
for i in range(11):
    print("5 x ",i,"=",5 *(i+1))

5 x  0 = 5
5 x  1 = 10
5 x  2 = 15
5 x  3 = 20
5 x  4 = 25
5 x  5 = 30
5 x  6 = 35
5 x  7 = 40
5 x  8 = 45
5 x  9 = 50
5 x  10 = 55

In [34]:
#break statement uses:- 
for i in range(11):
    if(i==8):
        break
    print("5 x ",i,"=",5 *(i+1))
print("this is a break statement")

5 x  0 = 5
5 x  1 = 10
5 x  2 = 15
5 x  3 = 20
5 x  4 = 25
5 x  5 = 30
5 x  6 = 35
5 x  7 = 40
this is a break statement

In [37]:
#break statement uses:- 
for i in range(12):
    if(i==8):
        continue
    print("5 x ",i+1,"=",5 *(i+1))
print("this is a break statement")

5 x  1 = 5
5 x  2 = 10
5 x  3 = 15
5 x  4 = 20
5 x  5 = 25
5 x  6 = 30
5 x  7 = 35
5 x  8 = 40
5 x  10 = 50
5 x  11 = 55
5 x  12 = 60
this is a break statement

In [31]:
# first=int(input("enter a frist no:"))
# second=int(input("enter second no:"))
def add(first,second):
    if(first>second):
        print("first  is greater")
    else:
        print("second is greater")
add(20,10)

first  is greater

In [42]:
def average(a=9,b=1):
    print("the average of:" ,(a+b)//2)

#default argument 
#average(a=5)
average()

the average of: 5

In [56]:
def evenodd():
    x=int(input("enter a no:"))
    if(x%2==0):
        print("even")
    else:
        print("odd")
evenodd()

enter a no: 5

odd

In [64]:
n = int(input("Enter a number: "))
sum = 0
for i in range(n + 1):
    sum += i
sum

Enter a number:  5

15

In [69]:
n=121
temp=n
sum=0
while(n>0):
    rem=n%10
    sum=sum*10+rem
    n=n//10
if(temp==sum):
    print("pallindrom")
else:
    print("not pallindrom")

pallindrom

In [71]:
n=153
temp=n
sum=0
while(n>0):
    rem=n%10
    sum=sum+rem*rem*rem
    n=n//10
if(temp==sum):
    print("armstrong")
else:
    print("not")

armstrong

In [73]:
n=10
n1=0
n2=1
print(n1)
print(n2)
for i in range(2,n):
    
    n3=n1+n2
    print(n3)
    n1=n2
    n2=n3

0
1
1
2
3
5
8
13
21
34

In [75]:
# largest of three numbers..
def largest(x,y,z):
    if(x>y and x>z):
        print("x is largest")
    elif(y>z and y>x):
        print("y is largest")
    else:
        print("z is largest")
largest(3,9,7)

y is largest

In [82]:
def fizzbuzz(n):
    for i in range(1,n + 1):
        if i % 3 == 0 and i % 5 == 0:
            print("FizzBuzz")
        elif i % 3 == 0:
            print("Fizz")
        elif i % 5 == 0:
            print("Buzz")
        else:
            print(i)

n = 15
fizzbuzz(n)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz

In [86]:
def reverse(s):
    return s[::-1]
reverse("hello")

'olleh'

In [87]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [101]:
marks=[10,20,30,"shailendra",70]
marks
type[marks]
marks[1:-1]

[20, 30, 'shailendra']

In [94]:
if "sha" in "shailendra" :
    print("yes")

In [21]:
marks=[10,20,30,70,10,20]
print(marks.index(70))
marks1=marks.copy()
marks
marks1
marks2=[90,100,101,202,290]
marks2
marks3=marks+marks2
marks3

3

[10, 20, 30, 70, 10, 20, 90, 100, 101, 202, 290]

In [30]:
tup=(1,2,3,4,5,6,7)
type(tup)
tup[0]
tup[-1]
tup[1:5]
if 56 in tup:
    print("hello")
else:
    print("hey")

hey